select, input, label {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--colr);
  margin: 0 0.5rem;
}

select {
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
}

label {
  margin-right: 1.75rem;
  margin-left: 0.25rem;
}

input {
  margin-left: 2rem;
  margin-bottom: 0.75rem;
}