.wheel {
  /* display: none; */
  position: absolute;
  /* cursor: pointer; */
  padding: 0;
  left: 6rem;
  top: 6rem;
  width: 500px;
  border-radius: 50%;
  z-index: 1;
  /* box-shadow: 1rem 1rem 1rem #33000060; */
  
}